.page_box__nSTsO {
  background-color: rgba(84, 191, 240, 0.744);
  position: relative;
  margin: 1.5rem auto;
  display: flex;
  height: 25vh;
  max-width: 85vw;
  flex-direction: column;
  border-radius: 7px;
}
.page_btn__VzVq_ {
  height: 40px;
  border-radius: 7px;
  padding: 5px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}
.page_title__3jonF {
  margin: auto;
  background-color: transparent;
  font-size: 50px;
}
.page_connect__W9zSv {
  margin: auto;
  background-color: #00d30b;
}
.page_disconnect__FlW6i {
  margin: auto;
  background-color: #e51740;
}
.page_topic__RNHkZ {
  margin: auto auto 0;
  background-color: transparent;
}
.page_input___cVLA {
  margin: 20px;
  border-radius: 5px;
  padding: 5px;
  font-size: 17px;
}
.page_message__abnJo {
  margin: auto auto 20px;
  height: 100px;
  width: 330px;
  border-radius: 5px;
  white-space: pre-line;
  overflow: auto;
}
